.heading1 {
    font: normal normal normal 48px/49px Flamenco;
}

.heading2 {
    font: normal normal 300 64px/40px Flamenco;
}

.bodycopy1 {
    font: normal normal normal 20px/23px Asap;
}

.bodycopy2 {
    font: normal normal normal 16px/24px Asap;
}

.page-heading {
    text-align: center;
}

.text-container {
    width: 100%;
    padding: 0 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: $darkpurple;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
}
.link:hover, .link:active {
    opacity: 0.5;
}