/* Body Styling */
body * {
    box-sizing: border-box;
}

body {
    background-color: $palegreen;
    margin: 0;
    width: 100%;
}

#nav-spacer {
    height: 15vh;

    @include large-screen {
        height: 10vh;
    }
}