extends layout

block content
    div#about-us-page   
        div 
            p.heading2 About Us
        img(src="../imgs/about-us/passion-unsplash.png")
        div
            p We take donated artwork/creations from the youth across the country and sell them for a profit that goes directly to charities surrounding the major issues in our world. As a society, we face several major issues, from racism to mental health to climate change. Young people often feel that they do not have the power, money, or resources to have an influence on these problems. However, through Upstyling, youth now have the ability to make a change. They can express their voice through their own creations, whether it is through painting, jewelry, embroidery, sewing, sculpting, etc.
        div
            p.heading2 Our Founders
        div
            img(src="../imgs/about-us/profiles@2x.png")
        div
            p Katelyn Surrao
            p Anu Pillai
        div 
            p Katelyn Surrao (left) and Anu Pillai (right) co-founded their nonprofit Upstyling in the beginning of 2020 in Augusta, GA. Their idea for the organization began as a fun side project of selling handmade hair accessories for charity and grew to be the company it is today. Recognizing the major issues our society faces, they wanted to create an organization in which young people, like themselves, could make a difference.