extends layout

block content
    div#how-help
        div.page-banner
            div.banner-image
            div.banner-text 
                p.heading2 You can help in many ways
        div.inner-page
            div
                img(src="../imgs/how-help/earrings@2x.png")
                p Purchase
                p You can purchase your very own artwork on our Etsy
                button Purchase
            div
                img(src="../imgs/how-help/paintbrush@2x.png")
                p Sell your Stuff
                p You can donate your artwork by emailing us at upstyling.ga@gmail.com
                button Donate
            div
                img(src="../imgs/how-help/fabric@2x.png")
                p Follow
                p Keep up to date by following us on Instagram!
                button Follow
            

