extends layout

block content
    div#how-help-banner
        div.page-banner
            div.banner-image
            div.banner-text 
                p.heading2 You can help in many ways
    div#how-help-page
        div.inner-page
            div.panel
                img(src="../imgs/how-help/earrings@2x.png")
                p.panel-title Purchase
                p.panel-body You can purchase your very own artwork on our Etsy
                button.one Purchase
            div.panel
                img(src="../imgs/how-help/paintbrush@2x.png")
                p.panel-title Sell your Stuff
                p.panel-body You can donate your artwork by emailing us at upstyling.ga@gmail.com
                button.two Donate
            div.panel
                img(src="../imgs/how-help/fabric@2x.png")
                p.panel-title Follow
                p.panel-body Keep up to date by following us on Instagram!
                button.three Follow
            

