extends layout


mixin logo
    div#logo-container
        div#logo-background
            div#logo-border
                div#logo-title upstyling
                div#logo-subtitle Creations for Change


block content
    div#homepage
        div.inner-page
            +logo
            div.checkerboard
                img(src="../imgs/homepage/pexels-artem-beliaikin.png")
            div.checkerboard
                div.text-container
                    p.heading1 Buy our stuff!
                    p.bodycopy You can purchase your very own artwork on our 
                        a.link(href="#") Etsy 
                    img#etsy-logo(src="../imgs/homepage/etsy-icon.svg")
            div.checkerboard
                img(src="../imgs/homepage/melissa-askew-unsplash.png")
            div.checkerboard
                div.text-container
                    p.heading1 Donate your work!
                    p.bodycopy You can donate your work by emailing us at 
                        a.link(href="#") upstyling.ga@gmail.com
                    img#email-logo(src="../imgs/homepage/email-icon.svg")