doctype html
head
    title Upstyling
body
    div#topnav
        p upstyling
        p ABOUT US
        p MISSION
        p CHARITIES
        p HOW YOU CAN HELP
        img(src="../imgs/top-nav/insta-icon.svg")
        img(src="../imgs/top-nav/etsy-icon.svg")
        img(src="../imgs/top-nav/facebook-icon.svg")
    block content
        