mixin navbar
    div#topnav
        //- Mobile Hamburger Menu
        div.mobile-version
            a(href="/")
                p.logotext upstyling
            div#hamburger
                div.patty 
                div.patty 
                div.patty 
        //- Desktop Top Navbar
        div.desktop-version
            a(href="./index.html")
                p.logotext upstyling
            a(href="./about-us.html")
                p ABOUT US
            a(href="#")
                p MISSION
            a(href="#")
                p CHARITIES
            a(href="#")
                p HOW YOU CAN HELP
            div.spacer
            a(href="#")
                img(src="../imgs/top-nav/insta-icon.svg")
            a(href="#")
                img(src="../imgs/top-nav/etsy-icon.svg")
            a(href="#")
                img(src="../imgs/top-nav/facebook-icon.svg")
    //- Fullscreen Nav Menu for Mobile
    div#mobile-menu
        img#close-icon(src="../imgs/top-nav/close-icon.svg")
        a(href="/")
            p.logotext upstyling
        div.breakline
        a(href="#")
            p ABOUT US
        a(href="#")
            p MISSION
        a(href="#")
            p CHARITIES
        a(href="#")
            p HOW YOU CAN HELP

mixin footer
    div#footer-container
        div#footer-inner
            p.footer-logo Upstyling
            p.copyright © 2020, Design & Code by 
                a(href="http://leoncheng.dev/") Leon Cheng



//- -------------------------------------------------------

doctype html
head
    title Upstyling
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
    +navbar
    div#spacer
    block content
    +footer