doctype html
head
    title Upstyling
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
    div#topnav
        div.mobile-version
            a(href="/")
                p.logotext upstyling
            div.hamburger
                div.patty 
                div.patty 
                div.patty 
        div.desktop-version
            a(href="/")
                p.logotext upstyling
            a(href="#")
                p ABOUT US
            a(href="#")
                p MISSION
            a(href="#")
                p CHARITIES
            a(href="#")
                p HOW YOU CAN HELP
            div.spacer
            a(href="#")
                img(src="../imgs/top-nav/insta-icon.svg")
            a(href="#")
                img(src="../imgs/top-nav/etsy-icon.svg")
            a(href="#")
                img(src="../imgs/top-nav/facebook-icon.svg")
    block content
        