doctype html
head
    title Upstyling
    import(url='https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400&family=Cookie&family=Flamenco:wght@300;400&display=swap')
body
    div#topnav
        div.inner
            p.logotext upstyling
            p ABOUT US
            p MISSION
            p CHARITIES
            p HOW YOU CAN HELP
            div.spacer
            img(src="../imgs/top-nav/insta-icon.svg")
            img(src="../imgs/top-nav/etsy-icon.svg")
            img(src="../imgs/top-nav/facebook-icon.svg")
    block content
        