doctype html
head
    title Upstyling
    import(url='https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400&family=Cookie&family=Flamenco:wght@300;400&display=swap')
body
    div#topnav
        div.inner
            a(href="/")
                p.logotext upstyling
            a(href="#")
                p ABOUT US
            a(href="#")
                p MISSION
            a(href="#")
                p CHARITIES
            a(href="#")
                p HOW YOU CAN HELP
            div.spacer
            a(href="#")
                img(src="../imgs/top-nav/insta-icon.svg")
            a(href="#")
                img(src="../imgs/top-nav/etsy-icon.svg")
            a(href="#")
                img(src="../imgs/top-nav/facebook-icon.svg")
    block content
        