extends layout

block content
    div#mission-page
        div.inner-page
            div.page-heading 
                p.heading2 Mission
            div.quad-image
                img(src="../imgs/mission/quad@2x.png")
            div.text-container
                p.bodycopy2 Our mission is to give the youth a voice in the major problems that society faces today through their own unique creations.
            div.quote-container
                p "You must be the change you wish to see in the world." 
                p - Mahatma Gandhi
            div.button-container
                button.donate DONATE
                button.purchase PURCHASE