#topnav {
    .mobile-version {
        height: 70px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            color: inherit;
        }
        a:hover {
            opacity: 0.7;
        }

        p.logotext {
            font: normal normal normal 32px/35px Cookie;
        }

        .hamburger {
            position: absolute;
            right: 10px;
            .patty {
                width: 35px;
                height: 4px;
                background-color: $white;
                margin: 6px 0;
            }
        }
    }

    .desktop-version {
        display: none;
    }
}

#mobile-menu {
    background-color: $olive;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $white;

    a {
        text-decoration: none; 
        color: inherit;
        font: italic normal normal 20px/23px Asap, sans-serif;
    }

    p.logotext {
        font: normal normal normal 56px/62px Cookie;
    }

    .breakline {
        border-top: 2px solid $white;
        height: 40px;
        width: 40px;
    }

    .close-icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}